---
import type { SanityDocument } from "sanity";
import { sanityClient } from "sanity:client";
import MainLayout from "../../layouts/main.astro"
import ContainerLayout from "../../layouts/container.astro"
import WorkImages from "../../components/WorkImages.astro";
import WorkInfo from "../../components/WorkInfo.astro";
import WorkNavigation from "../../components/WorkNavigation.astro";

export async function getStaticPaths() {
  const WORKS_QUERY = `*[_type == "work" && defined(slug.current)]{
    "params": {"slug": slug.current},
    "props": {"title": title, "year": year, "medium": medium, "body": body, "images": images}
  }`;
  const works = await sanityClient.fetch<Array<{ params: { slug: string }, props: { title: string, year: string, medium: string, body: string, images: any }}>>(WORKS_QUERY);
  const firstWork = works[0];
  const lastWork = works[works.length - 1];
  // 2. Map through the array to build the required Astro structure
  return works.map((work, index) => {
    const prevWork = index > 0 ? works[index - 1] : null;
    const nextWork = index < works.length - 1 ? works[index + 1] : null;
    return {
      params: work.params,
      props: { ...work.props,
        prev: prevWork ? { slug: prevWork.params.slug, title: prevWork.props.title } : { slug: lastWork.params.slug, title: lastWork.props.title },
        next: nextWork ? { slug: nextWork.params.slug, title: nextWork.props.title } : { slug: firstWork.params.slug, title: firstWork.props.title },
      },
    };
  });
}

const { title, year, medium, body, prev, next, images } = Astro.props; 
---
<MainLayout page={title}>
    <div
    id="workinfo-backdrop"
    class="fixed inset-0 z-40 bg-black/30 opacity-0 pointer-events-none"
    ></div>
    <main class="transition-transform duration-500 ease-out mx-auto min-h-screen max-w-3xl lg:flex">
      <ContainerLayout>
        <div class="flex flex-col gap-4 mt-18 relative">
            <div class="flex justify-between font-medium">
                <h2 class="uppercase">{title}</h2>
                <button id="info-button">INFO +</button>
                <WorkInfo year={year} medium={medium} body={body} />
            </div>
            <WorkImages images={images} />
            <div class="mt-4">
                <WorkNavigation prev={prev} next={next} />
            </div>
        </div>
      </ContainerLayout>
    </main>
</MainLayout>

<script>
    let open = false;
    document.addEventListener("DOMContentLoaded", () => {
        const infoButton = document.getElementById("info-button");
        const workInfo = document.getElementById("work-info");
        const backdrop = document.getElementById("workinfo-backdrop");

        if (!infoButton || !workInfo || !backdrop) return;

        infoButton.addEventListener("click", () => {
            if (!open) {
                 // open
                workInfo.classList.remove("max-h-0");
                workInfo.classList.add("max-h-96", "pt-8", "pb-4");
                backdrop.classList.remove("pointer-events-none");
                backdrop.classList.add("pointer-events-auto");

            } else {
                // close
                workInfo.classList.remove("max-h-96", "pt-8", "pb-4");
                workInfo.classList.add("max-h-0");
                backdrop.classList.remove("pointer-events-auto");
                backdrop.classList.add("pointer-events-none");
            }
            open = !open;
        });
        backdrop?.addEventListener("click", () => {
            // close
            workInfo.classList.remove("max-h-96", "pt-8", "pb-4");
            workInfo.classList.add("max-h-0");
            backdrop.classList.remove("pointer-events-auto");
            backdrop.classList.add("pointer-events-none");
            open = !open;
        });   
    });
</script>