---
import type { SanityDocument } from "sanity";
import { sanityClient } from "sanity:client";
import MainLayout from "../../layouts/main.astro"
import ContainerLayout from "../../layouts/container.astro"
import WorkImages from "../../components/WorkImages.astro";
import WorkInfo from "../../components/WorkInfo.astro";

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const WORKS_QUERY = `*[_type == "work" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(WORKS_QUERY);
}

const WORK_QUERY = `*[_type == "work" && slug.current == $slug][0]`;
const work = await sanityClient.fetch<SanityDocument>(WORK_QUERY, Astro.params);
    console.log("WORK", work)

---
<MainLayout page={work.title}>
    <!-- <div
    id="backdrop"
    class="
        fixed inset-0
        bg-black/30
        opacity-0 pointer-events-auto
        transition-opacity duration-500
    "
    ></div>     -->
    <main class="transition-transform duration-500 ease-out mx-auto min-h-screen max-w-3xl lg:flex">
      <ContainerLayout>
        <div class="flex flex-col gap-4 mt-18 relative">
            <div class="flex justify-between font-medium">
                <h2 class="uppercase">{work.title}</h2>
                <button id="info-button">INFO +</button>
                <WorkInfo year={work.year} medium={work.medium} body={work.body} />
            </div>
            <WorkImages images={work.images} />
        </div>
      </ContainerLayout>
    </main>
</MainLayout>

<script>
    let open = false;
    document.addEventListener("DOMContentLoaded", () => {
        const infoButton = document.getElementById("info-button");
        const workInfo = document.getElementById("work-info");
        // const backdrop = document.getElementById("workinfo-backdrop");

        if (!infoButton || !workInfo) return;

        infoButton.addEventListener("click", () => {
            if (!open) {
                 // open
                workInfo.classList.remove("max-h-0");
                workInfo.classList.add("max-h-96", "pt-8", "pb-4");
            } else {
                // close
                workInfo.classList.remove("max-h-96", "pt-8", "pb-4");
                workInfo.classList.add("max-h-0");
            }
            open = !open;
        });
        // backdrop.addEventListener("click", () => {
        //     console.log("BACKDROP CLICK")
        //     workInfo.classList.add("opacity-0", "-translate-y-4", "pointer-events-none");
        //     workInfo.classList.remove("opacity-100");
        // });   
    });
</script>