---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { createImageUrlBuilder, type SanityImageSource } from "@sanity/image-url";
import { PortableText } from "astro-portabletext";
import MainLayout from "./../../layouts/main.astro"
import Container from "../../layouts/container.astro";

const POST_QUERY = `*[_type == "portfolio" && slug.current == $slug][0]`;
const post = await sanityClient.fetch<SanityDocument>(POST_QUERY, Astro.params);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "portfolio" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(SLUGS_QUERY);
}

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const postImageUrl = post.imageItem.image
  ? urlFor(post.imageItem.image)?.url()
  : null;
---
<Container>
    <img class="mb-8" src={postImageUrl} alt={post.alt as string}>
    <div class="text-sm mb-8">
        <h1 class="font-semibold" >{post.title}</h1>
        <p>{post.dimensions}</p>
        <p>{post.medium}</p>
    </div>
    <p class="text-sm text-justify">{post.body}</p>
</Container>